/* .sideMenu-aside {
    position: relative;
    width: 117px;
    height: 1024px;
    background-color: black;
    -webkit-filter: drop-shadow(4px 0 4px rgb(0, 0, 0, 25%));
            filter: drop-shadow(4px 0 4px rgb(0, 0, 0, 25%));
} */
/* .sideMenu-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 256px;
    padding-bottom: 361px;
}
.sideMenu-nav img {
    padding-bottom: 20px;
}
.sideMenu-copyright {
    transform: rotate(-90deg);

    white-space: nowrap;
    background-color: #020203;

    position: absolute;
    top: 736px;
    right: -10px;

    font-size: 0.8em;
    color: white;
} */
